<footer class="site-bottom">
  <nav class="menu">
    {{ range .Site.Menus.footer.ByWeight }}
      {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
    {{ end }}
  </nav>
  <div class="translations">
    {{ if .IsTranslated }}
    <nav class="choose-lang">
        {{ range .Translations }}
          <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    </nav>
    {{ end }}
    <div class="translate">
      <a href="/action/translate/">{{ i18n "helptranslate" }}</a>
    </div>
  </div>
  <div class="copying">
    <p id="license">
      {{ i18n "footerlicense1" }}
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons CC-BY-SA</a>
      {{ i18n "footerlicense2" }}
    </p>
    <p id="credits">
      {{ .Site.Params.copyright }}
      {{ i18n "creditsbgpic" }}
      <a href="https://www.flickr.com/photos/whoisthatfreakwiththecamera/7402543426/">“Geodesic” {{ i18n "by" }} Michael Day</a> (<a href="https://creativecommons.org/licenses/by/2.0/">CC BY SA</a>). {{ i18n "radometeufel" }}
    </p>
  </div>
  <div class="ngo">
    <div class="drngo"><span class="stichting">Stichting</span> Data Rights</div>
    <div class="nonprofit">{{ i18n "footernonprofit" }}</div>
    <div class="registered">
      <span class="kvk">{{ i18n "footerkvk" }} 76158799</span>
      <span class="rsin"><abbr title="{{ i18n "footerrsin" }} Rechtspersonen Samenwerkingsverbanden Informatie Nummer">RSIN</abbr>: 860528601</span>
    </div>
    <div class="social-media">
        <a href="https://twitter.com/{{ i18n "twitterhandle" }}" class="twitter">@{{ i18n "twitterhandle" }}</a>
    </div>
  </div>
</footer>
