
{{if .PrevInSection}}<nav class="prevnext">
{{else}}
{{if .NextInSection}}<nav class="prevnext">
{{end}}
{{end}}

{{if .PrevInSection}}
<a href="{{.PrevInSection.Permalink}}" class="prev">
  {{ if .PrevInSection.Params.date }}
  <time class="date label">{{ .PrevInSection.Params.date.Format "January 2, 2006" }}</time>
  {{ else }}
  <span class="label">{{ i18n "prev" }}</span>
  {{ end }}
{{.PrevInSection.Title}}
</a>
{{end}}

{{if .NextInSection}}
<a href="{{.NextInSection.Permalink}}" class="next">
  {{ if .NextInSection.Params.date }}
  <time class="date label">{{ .NextInSection.Params.date.Format "January 2, 2006" }}</time>
  {{ else }}
  <span class="label">{{ i18n "next" }}</span>
  {{ end }}
{{.NextInSection.Title}}
</a>
{{end}}

{{if .PrevInSection}}</nav>
{{else}}
{{if .NextInSection}}</nav>
{{end}}
{{end}}
