
        <div class="receive-announcements">
          <form class="bold_label" action="https://datarights.hosted.phplist.com/lists/?p=subscribe&id={{i18n "phplistlangid"}}" method="post" target="_blank">
                <fieldset>
                    <label for="email">{{ i18n "youremail" }}</label><br>
                    <input type="email" name="email" size="30"><br>
                    <button type="submit">{{ i18n "submitsubscribe" }}</button>
                    <p class="privacy-policy-short" id="general-info-fr">
                      {{ i18n "announcementsminigdprnotice" }} <a href="{{ "/info/data-policy/announcements/" | absLangURL }}">{{ i18n "moreinfo" }}</a>
                    </p>
                </fieldset>
            </form>
        </div>
