{{ define "main" }}
{{- partial "page-header.html" . -}}
  <div class="e-content">
    {{- partial "page-content.html" . -}}

    <!-- TODO -->
    <!-- {{ range .Pages}} -->
    <!-- <a href="{{ .Permalink }}" style="display:block"> -->
    <!--     {{ .Title | markdownify }} -->
    <!-- </a> -->
    <!-- {{ end }} -->

    {{ if .Params.drngoShowentries }}
        {{ if in .Params.drngoClass "grid-content" }}
            {{ if in .Params.drngoShowentries "category" }}
                {{ range .Pages.GroupByParam "drngoParentCategory"  }}
                    <div class="grid id-{{ .Key | urlize }}">
                    <h2 id="{{ .Key | urlize }}">{{ .Key }}</h2>
                    {{ range .Pages }}
                        <a id="{{ .TranslationBaseName }}" href="{{ .Permalink }}" class="grid-unit">
                            {{- with .Params.images -}}
                                <img src="{{ index . 0 | absURL }}" alt="" class="cover">
                            {{ end -}}
                            <h3>{{ .Title | markdownify }}</h3>
                            <p>
                            {{ if .Params.cover }}
                                {{ .Params.cover | markdownify }}
                            {{ else }}
                                {{ if .Params.introduction }}
                                    {{ .Params.introduction }}
                                {{ end }}
                            {{ end }}
                            {{ if .Params.drngoNoreadmore }}
                                <span class="read-more">{{ i18n "moreinfosoon" }}</span>
                            {{ else }}
                                <span class="read-more">{{ i18n "readmore" }}</span>
                            {{ end }}
                            </p>
                        </a>
                    {{ end }}
                    </div>
                {{ end }}
            {{ else }}
            <div class="grid">
                {{ range .RegularPages }}
                    <a id="{{ .TranslationBaseName }}" href="{{ .Permalink }}" class="grid-unit">
                        {{- with .Params.images -}}
                            <img src="{{ index . 0 | absURL }}" alt="" class="cover">
                        {{ end -}}
                        <h3>{{ .Title | markdownify }}</h3>
                        <p>
                        {{ if .Params.cover }}
                            {{ .Params.cover | markdownify }}
                        {{ else }}
                            {{ if .Params.introduction }}
                                {{ .Params.introduction }}
                            {{ end }}
                        {{ end }}
                        {{ if .Params.drngoNoreadmore }}
                            <span class="read-more">{{ i18n "moreinfosoon" }}</span>
                        {{ else }}
                            <span class="read-more">{{ i18n "readmore" }}</span>
                        {{ end }}
                        </p>
                    </a>
                {{ end }}
            {{ end }}
            </div>
        {{ else }}
            {{ range .RegularPages }}
                {{ if .Params.date }}
                    {{ .Params.date.Format "2 Jan. 2006" }}<br>
                {{ end }}
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
  </div>
{{ end }}
